# System files 
.DS_Store 
Thumbs.db 
desktop.ini 


# Cache Python
__pycache__/
*.py[cod]
*.pyo
 
# Temporary files 
*.tmp 
*.temp 
*.log 
*.bak
*.diff
 
# Dependency folders 
node_modules/ 
vendor/ 
 
